*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

h1 { margin: 0; font-family: "Fraunces", serif; }
h2 {margin: 0; font-family: "Montserrat", sans-serif; }

p { margin: 0; }

a, a:hover { text-decoration: none; }

ul { margin: 0; padding: 0; }

img { display: block; }